@model IEnumerable<StrongHouseOwner.Data.EntityModel.TypeOfCeilingSample>
@{
    ViewBag.Title = "CreateUpdate";
}
@using System.Web;
@using System.Web.Script;
@using System.Web.Script.Serialization;

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="~/BootstrapStart/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/BootstrapStart/css/business-casual.min.css" rel="stylesheet" />
    <link href="~/BootstrapStart/css/simple-sidebar.css" rel="stylesheet" />

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <link href="~/gitcdn/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">RENOVATION WHILE KEEPING CONSTRUCTION DETAILS</span>
        <div class="row">
            <div class="col-4 col-md-10" style="padding-right: 0px;padding-left: 200px;">
                <span class="site-heading-lower">Strong House Owner</span>
            </div>
            <div class="col-4 col-md-2">
                @if (Session["User_Name"] == null)
                {

                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="color:#fff;font-size:.9rem;"></span>
                        <img class="img-profile rounded-circle" src="~/Images/User/DefaultImage.png" style="width: 50px; height: 50px;">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown" style="font-size:12px;">
                        <a class="dropdown-item" href='@Url.Action("Index","Login")'>
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Login
                        </a>
                        <a class="dropdown-item" href='@Url.Action("Index","Registration")'>
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>Register
                        </a>
                        @*<div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>*@
                    </div>

                }
                else
                {

                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="color:#fff;font-size:.9rem;">@Session["User_Name"]</span>
                        <img class="img-profile rounded-circle" src="~/Images/User/DefaultImage.png" style="width: 50px; height: 50px;">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown" style="font-size:12px;">
                        <a class="dropdown-item" href='@Url.Action("ListOfFlooringTypes", "Flooring")'>
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            User Panel
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href='@Url.Action("LogOut","Login")'>
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>

                }
            </div>
        </div>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto justify-content-center">
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href='@Url.Action("Home", "Home")'>
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="about.html">About</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href='@Url.Action("Products", "Product")'>Products</a>
                    </li>
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href='@Url.Action("Index", "Store")'>Store</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <div class="d-flex" id="wrapper">
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <button class="btn btn-primary" onclick="location.href='@Url.Action("Index","HouseCeilingStore", new { houseId = @ViewBag.ViewBagHouseRefId})'">
                                <i class="fas fa-cart-plus ml-2" aria-hidden="true">Back</i>
                            </button>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="bg-faded p-4 rounded">
                <div class="container">
                    <form id="CreateHouseCeilingForm" method="post" enctype="application/x-www-form-urlencoded" novalidate>

                        <label class="checkbox-inline">
                            <input type="checkbox" id="SelectSample" name="SelectSample" checked data-toggle="toggle" data-on="Select From Products" data-off="Create New" data-onstyle="primary" data-offstyle="info">
                        </label>

                        <label class="checkbox-inline">
                            <input type="checkbox" id="PaintOrTile" name="SelectSample" checked data-toggle="toggle" data-on="Tile" data-off="Paint" data-onstyle="primary" data-offstyle="info">
                        </label>

                        <div class="form-group">
                            <label for="Ex_Ceiling_Sample_Name">Sample Name</label>
                            <div class="form-row">
                                <select class="custom-select" id="Ceiling_Sample_Name1" name="Ceiling_Sample_Name1" aria-describedby="Ceiling_Sample_Name1_Help" required>
                                    <option selected value="">Choose Type Of Sample...</option>
                                    @foreach (var item in Model.Select(s => new { s.CeilingTypeSampleName, s.CeilingTypeSampleCode }).Distinct().ToArray())
                                    {

                                        if (@item.CeilingTypeSampleCode == "" || @item.CeilingTypeSampleCode == null)
                                        {
                                            <option value="@(item.CeilingTypeSampleName)">@item.CeilingTypeSampleName</option>
                                        }
                                        else if (@item.CeilingTypeSampleCode != "" || @item.CeilingTypeSampleCode != null)
                                        {
                                            <option value="@(item.CeilingTypeSampleName+"-"+item.CeilingTypeSampleCode)">@item.CeilingTypeSampleCode - @item.CeilingTypeSampleName</option>
                                        }

                                    }
                                </select>
                                <input type="text" class="form-control" name="Ceiling_Sample_Name2" id="Ceiling_Sample_Name2" aria-describedby="Ceiling_Sample_Name2_Help" placeholder="" required>
                                <small id="Ceiling_Sample_Name2" class="form-text text-muted" style="padding-left: 10px;">Ex : Oak</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Ex_Ceiling_Sample_Code">Code</label>
                            <input type="text" class="form-control input-lg" name="Ceiling_Sample_Code" id="Ceiling_Sample_Code" aria-describedby="Ceiling_Sample_Code_Help" placeholder="" style="max-width:100%;">
                            <small id="Ceiling_Sample_Code_Help" class="form-text text-muted">Ex : C0203</small>
                        </div>

                        <div class="form-group">
                            <label for="Ex_Ceiling_Sample_Brand">Brand</label>
                            <input type="text" class="form-control input-lg" name="Ceiling_Sample_Brand" id="Ceiling_Sample_Brand" aria-describedby="Ceiling_Sample_Brand_Help" placeholder="" style="max-width:100%;" required>
                            <small id="Ceiling_Sample_Brand_Help" class="form-text text-muted">Ex : Macktiles</small>
                        </div>

                        <div class="form-group">
                            <label for="Ex_Ceiling_Type_Sample_Size">Size</label>
                            <div class="form-row">
                                <select class="custom-select" id="Ceiling_Type_Sample_Size" name="Ceiling_Type_Sample_Size" aria-describedby="Ceiling_Type_Sample_Size_Help" required>
                                    <option selected value="">Choose Type Of Sample...</option>
                                </select>
                                <table>
                                    <tr>
                                        <td><input type="text" class="form-control" id="Ceiling_Type_Sample_Height" name="Ceiling_Type_Sample_Height" aria-describedby="Ceiling_Type_Sample_Size_Help" placeholder="Height" required></td>
                                        <td></td>
                                        <td><input type="text" class="form-control" id="Ceiling_Type_Sample_Width" name="Ceiling_Type_Sample_Width" aria-describedby="Ceiling_Type_Sample_Size_Help" placeholder="Width" required></td>
                                        <td></td>
                                    </tr>
                                </table>
                                <small id="Ceiling_Type_Sample_Size_Help" class="form-text text-muted">Ex : 4x4"</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Ex_Ceiling_Mililiters">Mililiters</label>
                            <input type="text" class="form-control input-lg" name="Ceiling_Mililiters" id="Ceiling_Mililiters" aria-describedby="Ceiling_Mililiters_Help" placeholder="" style="max-width:100%;" required>
                            <small id="Ceiling_Mililiters_Help" class="form-text text-muted">Ex : 1000ml</small>
                        </div>

                        <div class="form-group">
                            <label for="Ex_Ceiling_Sample_Price">Sample Price</label>
                            <input type="text" class="form-control input-lg" name="Ceiling_Sample_Price" id="Ceiling_Sample_Price" aria-describedby="Ceiling_Sample_Price_Help" placeholder="" style="max-width:100%;" required>
                            <small id="Ceiling_Sample_Price_Help" class="form-text text-muted">Ex : Rs.1350 per 1000ml or Rs.95 per tile</small>
                        </div>

                        <div class="form-group">
                            <label for="Ex_Ceiling_Sample_Min_Amount">Minimal Amount</label>
                            <input type="text" class="form-control input-lg" name="Ceiling_Sample_Min_Amount" id="Ceiling_Sample_Min_Amount" aria-describedby="Ceiling_Sample_Min_Amount_Help" placeholder="" style="max-width:100%;" required>
                            <small id="Ceiling_Sample_Min_Amount_Help" class="form-text text-muted">Ex : Fill Number of tiles or mililiter per floor area</small>
                        </div>

                        <div class="form-group">
                            <label for="Ex_Ceiling_Sample_Total_Cost">Total Cost</label>
                            <input type="text" class="form-control input-lg" name="Ceiling_Sample_Total_Cost" id="Ceiling_Sample_Total_Cost" aria-describedby="Ceiling_Sample_Total_Cost_Help" placeholder="" style="max-width:100%;" required>
                            <small id="Ceiling_Sample_Total_Cost_Help" class="form-text text-muted">Ex : Total cost</small>
                        </div>


                        <input type="submit" class="btn btn-primary" id="CreateHouseCeiling" value="Create" />

                    </form>

                    <script>
                        $('#SelectSample').change(function () {
                            if ($('#SelectSample').is(":checked")) {
                                $("#Ceiling_Sample_Name1").attr("disabled", false);
                                $("#Ceiling_Sample_Name2").attr("disabled", true);
                                $("#Ceiling_Sample_Code").attr("disabled", true);
                                if ($('#PaintOrTile').is(":checked")) {
                                    $("#Ceiling_Type_Sample_Size").attr("disabled", false);
                                    $("#Ceiling_Type_Sample_Height").attr("disabled", true);
                                    $("#Ceiling_Type_Sample_Width").attr("disabled", true);
                                }
                                else {
                                    $("#Ceiling_Type_Sample_Size").attr("disabled", true);
                                    $("#Ceiling_Type_Sample_Height").attr("disabled", true);
                                    $("#Ceiling_Type_Sample_Width").attr("disabled", true);
                                }
                            }
                            else {
                                $("#Ceiling_Sample_Name1").attr("disabled", true);
                                $("#Ceiling_Sample_Name2").attr("disabled", false);
                                $("#Ceiling_Sample_Code").attr("disabled", false);
                                if ($('#PaintOrTile').is(":checked")) {
                                    $("#Ceiling_Type_Sample_Size").attr("disabled", true);
                                    $("#Ceiling_Type_Sample_Height").attr("disabled", false);
                                    $("#Ceiling_Type_Sample_Width").attr("disabled", false);
                                }
                                else {
                                    $("#Ceiling_Type_Sample_Size").attr("disabled", true);
                                    $("#Ceiling_Type_Sample_Height").attr("disabled", true);
                                    $("#Ceiling_Type_Sample_Width").attr("disabled", true);
                                }

                            }
                        });
                        $('#SelectSample').trigger('change');

                        $('#PaintOrTile').change(function () {
                            if ($('#PaintOrTile').is(":checked")) {
                                $("#Ceiling_Mililiters").attr("disabled", true);
                                if ($('#SelectSample').is(":checked")) {
                                    $("#Ceiling_Sample_Name1").attr("disabled", false);
                                    $("#Ceiling_Sample_Name2").attr("disabled", true);
                                    $("#Ceiling_Sample_Code").attr("disabled", true);
                                    $("#Ceiling_Type_Sample_Size").attr("disabled", false);
                                    $("#Ceiling_Type_Sample_Height").attr("disabled", true);
                                    $("#Ceiling_Type_Sample_Width").attr("disabled", true);
                                }
                                else {
                                    $("#Ceiling_Sample_Name1").attr("disabled", true);
                                    $("#Ceiling_Sample_Name2").attr("disabled", false);
                                    $("#Ceiling_Sample_Code").attr("disabled", false);
                                    $("#Ceiling_Type_Sample_Size").attr("disabled", true);
                                    $("#Ceiling_Type_Sample_Height").attr("disabled", false);
                                    $("#Ceiling_Type_Sample_Width").attr("disabled", false);

                                }
                            }
                            else {
                                $("#Ceiling_Mililiters").attr("disabled", false);
                                $("#Ceiling_Type_Sample_Size").attr("disabled", true);
                                $("#Ceiling_Type_Sample_Height").attr("disabled", true);
                                $("#Ceiling_Type_Sample_Width").attr("disabled", true);
                            }
                        });
                        $('#PaintOrTile').trigger('change');

                    </script>

                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>




    <!-- Modal: modalQuickView -->



    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">Copyright &copy; Your Website 2019</p>
        </div>
    </footer>

</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    var imageCropWidth = 0;
    var imageCropHeight = 0;
    var cropPointX = 0;
    var cropPointY = 0;
    var jcropApi;

    $(document).ready(function ()
    {
        $("#Ceiling_Sample_Name1").change(function () {

            var ceilingTypeSampleNC = $(this).val().split("-");
            var ceilingTypeId = @ViewBag.ViewBagTypeOfCeilingRefId;
            $.ajax({
                    data: { "ceilingTypeSampleName": ceilingTypeSampleNC[0] ,"ceilingTypeSampleCode": ceilingTypeSampleNC[1], "ceilingTypeId": ceilingTypeId},
                    url: '@Url.Action("PopulateDropDownList","HouseCeilingStore")',
                    datatype: "json",
                success: function (data) {
                    $("#Ceiling_Type_Sample_Size").empty();
                    var size = $('#Ceiling_Type_Sample_Size');
                    $.each(data, function (val, text) {
                        var sizeAndPrice = text;
                        var sizeAndPriceArr = sizeAndPrice.split("x");
                            size.append(
                                $('<option></option>').val(text).html(sizeAndPriceArr[0]+"x"+sizeAndPriceArr[1])
                            );
                        });

                    },
                })

        });

        $("#Ceiling_Type_Sample_Size").change(function () {
            var ceilingTypeSampleSize = $(this).val().split("x");
            var ceilingArea = @ViewBag.ViewBagCeilingArea;
            $.ajax({
                    data: { "height": ceilingTypeSampleSize[0] ,"width": ceilingTypeSampleSize[1], "area": ceilingArea},
                    url: '@Url.Action("MinimalAmountCalculatorForTiles","HouseCeilingStore")',
                    datatype: "json",
                    success: function (data) {
                        $("#Ceiling_Sample_Min_Amount").val(data);
                        $("#Ceiling_Sample_Price").val(ceilingTypeSampleSize[2]);
                    },
                })
        });

        $("#Ceiling_Type_Sample_Width").change(function () {
            var ceilingTypeSampleSizeWidth = $(this).val();
            var ceilingTypeSampleSizeHeight = $('#Ceiling_Type_Sample_Height').val();
            var ceilingArea = @ViewBag.ViewBagCeilingArea;
            $.ajax({
                    data: { "height": ceilingTypeSampleSizeHeight ,"width": ceilingTypeSampleSizeWidth, "area": ceilingArea},
                    url: '@Url.Action("MinimalAmountCalculatorForTiles","HouseCeilingStore")',
                    datatype: "json",
                    success: function (data) {
                        $("#Ceiling_Sample_Min_Amount").val(data);
                    },
                })
        });

        $("#Ceiling_Sample_Price").change(function () {
            var ceilingSampleMinAmount = $('#Ceiling_Sample_Min_Amount').val();
            var ceilingSamplePrice = $(this).val();
            
            $.ajax({
                data: { "ceilingSampleMinAmount": ceilingSampleMinAmount, "ceilingSamplePrice": ceilingSamplePrice},
                url: '@Url.Action("TotalCostCalculatorForTiles","HouseCeilingStore")',
                datatype: "json",
                success: function (data) {
                    $("#Ceiling_Sample_Total_Cost").val(data);
                },
            })
        });

        $(function () {

            jQuery.validator.addMethod("noSpace", function (value, element) {
                return value.indexOf(" ") < 0 && value != "";
            }, "No space please and don't leave it empty");

            jQuery.validator.addMethod("hyphenSeperation", function (value, element) {
                return value.indexOf("-") > 0  && value != "";
            }, "Please use only one hypen please and don't leave it empty");

            jQuery.validator.addMethod("exactlength", function (value, element, param) {
                return this.optional(element) || value.length == param;
            }, $.validator.format("Please enter exactly {0} characters."));

            $("#CreateHouseCeilingForm").validate({
                //errorLabelContainer: "#PasswordError",
                wrapper: "div",
                rules: {
                    Ceiling_Sample_Name1: {
                        required: true,
                        maxlength: 50
                    },
                    Ceiling_Sample_Name2: {
                        required: true,
                        maxlength: 30
                    },
                    Ceiling_Sample_Code: {
                        maxlength: 10
                    },
                    Ceiling_Sample_Brand: {
                        required: true,
                        maxlength: 20
                    },
                    Ceiling_Type_Sample_Size: {
                        required: true,
                        maxlength: 10
                    },
                    Ceiling_Type_Sample_Height: {
                        required: true,
                        number: true,
                        maxlength: 5
                    },
                    Ceiling_Type_Sample_Width: {
                        required: true,
                        number: true,
                        maxlength: 5
                    },
                    Ceiling_Mililiters: {
                        required: true,
                        number: true,
                        maxlength: 10
                    },
                    Ceiling_Sample_Price: {
                        required: true,
                        number: true,
                        maxlength: 10
                    },
                    Ceiling_Sample_Min_Amount: {
                        required: true,
                        number: true,
                        maxlength: 10
                    },
                    Ceiling_Sample_Total_Cost: {
                        required: true,
                        number: true,
                        maxlength: 10
                    }
                },

                messages: {
                    Ceiling_Sample_Name1: {
                        required: "Please fill the field",
                        maxlength: "Please don't execeed maximum length 50"
                    },
                    Ceiling_Sample_Name2: {
                        required: "Please fill the field",
                        maxlength: "Please don't execeed maximum length 30"
                    },
                    Ceiling_Sample_Code: {
                        maxlength: "Please don't execeed maximum length 10"
                    },
                    Ceiling_Sample_Brand: {
                        required: "Please fill the field",
                        maxlength: "Please don't execeed maximum length 20"
                    },
                    Ceiling_Type_Sample_Size: {
                        required: "Please fill the field",
                        maxlength: "Please don't execeed maximum length 10"
                    },
                    Ceiling_Type_Sample_Height: {
                        required: "Please fill the field",
                        number: "Numbers only",
                        maxlength: "Please don't execeed maximum length 5"
                    },
                    Ceiling_Type_Sample_Width: {
                        required: "Please fill the field",
                        number: "Numbers only",
                        maxlength: "Please don't execeed maximum length 5"
                    },
                    Ceiling_Mililiters: {
                        required: "Please fill the field",
                        number: "Numbers only",
                        maxlength: "Please don't execeed maximum length 10"
                    },
                    Ceiling_Sample_Price: {
                        required: "Please fill the field",
                        number: "Numbers only",
                        maxlength: "Please don't execeed maximum length 10"
                    },
                    Ceiling_Sample_Min_Amount: {
                        required: "Please fill the field",
                        number: "Numbers only",
                        maxlength: "Please don't execeed maximum length 10"
                    },
                    Ceiling_Sample_Total_Cost: {
                        required: "Please fill the field",
                        number: "Numbers only",
                        maxlength: "Please don't execeed maximum length 10"
                    }
                },

                submitHandler: function (form) {
                    getData();
                }
            });

        });

    });

    function getData()
    {

        var CreateHouseCeilingForm = new FormData();
        CreateHouseCeilingForm.append("Ceiling_Id", @ViewBag.ViewBagStoredCeilingId);

        if ($('#SelectSample').is(":checked")) {

            CreateHouseCeilingForm.append("Ceiling_Sample_Brand", $("#Ceiling_Sample_Brand").val());
            CreateHouseCeilingForm.append("Ceiling_Sample_Price", $("#Ceiling_Sample_Price").val());
            CreateHouseCeilingForm.append("Ceiling_Sample_Min_Amount", $("#Ceiling_Sample_Min_Amount").val());
            CreateHouseCeilingForm.append("Ceiling_Sample_Total_Cost", $("#Ceiling_Sample_Total_Cost").val());

            var ceilingTypeSampleNC = $("#Ceiling_Sample_Name1").val().split("-");

            if ($('#PaintOrTile').is(":checked")) {
                var ceilingTypeSampleSize = $("#Ceiling_Type_Sample_Size").val().split("x");
                CreateHouseCeilingForm.append("Ceiling_Sample_Name", ceilingTypeSampleNC[0]);
                CreateHouseCeilingForm.append("Ceiling_Sample_Code", ceilingTypeSampleNC[1]);
                CreateHouseCeilingForm.append("Ceiling_Sample_Height", ceilingTypeSampleSize[0]);
                CreateHouseCeilingForm.append("Ceiling_Sample_Width", ceilingTypeSampleSize[1]);

            }
            else {
                CreateHouseCeilingForm.append("Ceiling_Sample_Name", ceilingTypeSampleNC[0]);
                CreateHouseCeilingForm.append("Ceiling_Sample_Code", ceilingTypeSampleNC[1]);
                CreateHouseCeilingForm.append("Ceiling_Mililiters", $("#Ceiling_Mililiters").val());
            }

        }
        else {

            CreateHouseCeilingForm.append("Ceiling_Sample_Name", $("#Ceiling_Sample_Name2").val());
            CreateHouseCeilingForm.append("Ceiling_Sample_Code", $("#Ceiling_Sample_Code").val());
            CreateHouseCeilingForm.append("Ceiling_Sample_Brand", $("#Ceiling_Sample_Brand").val());
            CreateHouseCeilingForm.append("Ceiling_Sample_Price", $("#Ceiling_Sample_Price").val());
            CreateHouseCeilingForm.append("Ceiling_Sample_Min_Amount", $("#Ceiling_Sample_Min_Amount").val());
            CreateHouseCeilingForm.append("Ceiling_Sample_Total_Cost", $("#Ceiling_Sample_Total_Cost").val());

            if ($('#PaintOrTile').is(":checked")) {

                CreateHouseCeilingForm.append("Ceiling_Sample_Height", $("#Ceiling_Type_Sample_Height").val());
                CreateHouseCeilingForm.append("Ceiling_Sample_Width", $("#Ceiling_Type_Sample_Width").val());

            }
            else {
                CreateHouseCeilingForm.append("Ceiling_Mililiters", $("#Ceiling_Mililiters").val());
            }
            

        }

        $.ajax({
                    type: 'POST',
                    data: CreateHouseCeilingForm,
                    url:'@Url.Action("UpdateHouseCeiling","HouseCeilingStore")',
                    dataType: 'json',
                    contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
                    processData: false, // NEEDED, DON'T OMIT THIS
                    //cache: false,
                    success: function (data)
                    {

                        if (data.validation == 1)
                        {

                            alert("Creation Sucessful");

                        }
                        else if (data.validation == 0)
                        {

                            // DoSomethingElse()
                            alert("Creation Fail");

                        }
                        

                    },
                    error: function (response)
                    {

                        alert("error!");  //

                    }
               });
        

    }

</script>

