@model IEnumerable<StrongHouseOwner.Data.EntityModel.TypeOfCeiling>
@{
    ViewBag.Title = "Products";
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>
    <!-- Bootstrap Table CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="~/Types/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/BootstrapStart/css/business-casual.min.css" rel="stylesheet">

</head>

<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">RENOVATION WHILE KEEPING CONSTRUCTION DETAILS</span>
        <div class="row">
            <div class="col-4 col-md-10" style="padding-right: 0px;padding-left: 200px;">
                <span class="site-heading-lower">Strong House Owner</span>
            </div>
            <div class="col-4 col-md-2">
                @if (Session["User_Name"] == null)
                {

                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="color:#fff;font-size:.9rem;"></span>
                        <img class="img-profile rounded-circle" src="~/Images/User/DefaultImage.png" style="width: 50px; height: 50px;">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown" style="font-size:12px;">
                        <a class="dropdown-item" href='@Url.Action("Index","Login")'>
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Login
                        </a>
                        <a class="dropdown-item" href='@Url.Action("Index","Registration")'>
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>Register
                        </a>
                        @*<div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>*@
                    </div>

                }
                else
                {

                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="color:#fff;font-size:.9rem;">@Session["User_Name"]</span>
                        <img class="img-profile rounded-circle" src="~/Images/User/DefaultImage.png" style="width: 50px; height: 50px;">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown" style="font-size:12px;">
                        <a class="dropdown-item" href='@Url.Action("ListOfFlooringTypes", "Flooring")'>
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            User Panel
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href='@Url.Action("LogOut","Login")'>
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>

                }
            </div>
        </div>
    </h1>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href='@Url.Action("Home", "Home")'>
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href='@Url.Action("Index", "About")'>About</a>
                    </li>
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href='@Url.Action("Products", "Product")'>Products</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href='@Url.Action("Index", "Store")'>Store</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="bg-faded p-5 rounded">
        @{int i = 0;}
        @foreach (var item in Model)
        {
            if (i % 2 == 0 && @item.CeilingTypeDetails != null)
            {

                <section class="page-section">
                    <div class="container">
                        <div class="product-item">
                            <div class="product-item-title d-flex">
                                <div class="bg-faded p-5 d-flex mr-auto rounded">
                                    <h2 class="section-heading mb-0">
                                        <span class="section-heading-upper">@item.CeilingTypeCategory</span>
                                        <span class="section-heading-lower btn btn-primary w-100 btn-xl" onclick="location.href='@Url.Action("SamplesCeiling", "Product", new { ceilingTypeId = item.CeilingTypeId})'">@item.CeilingType</span>
                                    </h2>
                                </div>
                            </div>
                            @if (!string.IsNullOrWhiteSpace(item.CeilingTypeImage))
                            {
                                <img class="product-item-img mx-2 d-flex rounded img-fluid mb-3 mb-lg-0" src="@Url.Content(item.CeilingTypeImage)" style="height:400px;width:800px" alt="">
                            }
                            <div class="product-item-description d-flex ml-auto">
                                <div class="bg-faded p-5 rounded">
                                    <p class="mb-0">@item.CeilingTypeDetails</p>

                                    <!-- More Details -->

                                    <div class="row" style="padding-left:2%;padding-right:2%;padding-bottom: 2%;width:100%;">
                                        <div class="card" style="width:100%;">

                                            <!-- Card header -->
                                            <div class="card-header" role="tab" id="headingOne1">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#@("accordionEx"+i)" href="#@("collapseOne1"+i)"
                                                   aria-expanded="false" aria-controls="collapseOne1">
                                                    <h5 class="mb-0">
                                                        Read<i class="fas fa-angle-down rotate-icon"></i>
                                                    </h5>
                                                </a>
                                            </div>

                                            <!-- Card body -->
                                            <div id="@("collapseOne1"+i)" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
                                                 data-parent="#@("accordionEx"+i)">
                                                <div class="card-body">
                                                    <table>
                                                        <thead></thead>
                                                        <thead></thead>
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-top:20px;padding-bottom:20px;padding-right:20px">Advantages :  </td>
                                                                <td style="padding-top:20px;padding-bottom:20px;padding-right:20px">@item.CeilingTypeAdvantage</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding-top:20px;padding-bottom:20px;padding-right:20px">Disadvantages :  </td>
                                                                <td style="padding-top:20px;padding-bottom:20px;padding-right:20px">@item.CeilingTypeDisadvantage</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding-top:20px;padding-bottom:20px;padding-right:20px">Best use :  </td>
                                                                <td style="padding-top:20px;padding-bottom:20px;padding-right:20px"> @item.CeilingTypeBestUse</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            }
            else if (i % 2 == 1 && @item.CeilingTypeDetails != null)
            {
                <section class="page-section">
                    <div class="container">
                        <div class="product-item">
                            <div class="product-item-title d-flex">
                                <div class="bg-faded p-5 d-flex ml-auto rounded">
                                    <h2 class="section-heading mb-0">
                                        <span class="section-heading-upper">@item.CeilingTypeCategory</span>
                                        <span class="section-heading-lower btn btn-primary w-100 btn-xl" onclick="location.href='@Url.Action("SamplesCeiling", "Product", new { ceilingTypeId = item.CeilingTypeId})'">@item.CeilingType</span>
                                    </h2>
                                </div>
                            </div>
                            @if (!string.IsNullOrWhiteSpace(item.CeilingTypeImage))
                            {
                                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="@Url.Content(item.CeilingTypeImage)" style="height:400px;width:800px" alt="">
                            }
                            <div class="product-item-description d-flex mr-auto">
                                <div class="bg-faded p-5 rounded">
                                    <p class="mb-0">@item.CeilingTypeDetails</p>

                                    <!-- More Details -->

                                    <div class="row" style="padding-left:2%;padding-right:2%;padding-bottom: 2%;width:100%;">
                                        <div class="card" style="width:100%;">

                                            <!-- Card header -->
                                            <div class="card-header" role="tab" id="headingOne1">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#@("accordionEx"+i)" href="#@("collapseOne1"+i)"
                                                   aria-expanded="false" aria-controls="collapseOne1">
                                                    <h5 class="mb-0">
                                                        Read<i class="fas fa-angle-down rotate-icon"></i>
                                                    </h5>
                                                </a>
                                            </div>

                                            <!-- Card body -->
                                            <div id="@("collapseOne1"+i)" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
                                                 data-parent="#@("accordionEx"+i)">
                                                <div class="card-body">
                                                    <table>
                                                        <thead></thead>
                                                        <thead></thead>
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-top:20px;padding-bottom:20px;padding-right:20px">Advantages :  </td>
                                                                <td style="padding-top:20px;padding-bottom:20px;padding-right:20px">@item.CeilingTypeAdvantage</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding-top:20px;padding-bottom:20px;padding-right:20px">Disadvantages :  </td>
                                                                <td style="padding-top:20px;padding-bottom:20px;padding-right:20px">@item.CeilingTypeDisadvantage</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding-top:20px;padding-bottom:20px;padding-right:20px">Best use :  </td>
                                                                <td style="padding-top:20px;padding-bottom:20px;padding-right:20px"> @item.CeilingTypeBestUse</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            }
            else
            {
                <section class="page-section">
                    <div class="container">
                        <div class="product-item">
                            <div class="product-item-title d-flex">
                                <div class="bg-faded p-5 d-flex mr-auto rounded">
                                    <h2 class="section-heading mb-0">
                                        <span class="section-heading-upper">@item.CeilingTypeCategory</span>
                                        <span class="section-heading-lower btn btn-primary w-100 btn-xl" onclick="location.href='@Url.Action("SamplesCeiling", "Product", new { ceilingTypeId = item.CeilingTypeId})'">@item.CeilingType</span>
                                    </h2>
                                </div>
                            </div>
                            @if (!string.IsNullOrWhiteSpace(item.CeilingTypeImage))
                            {
                                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="@Url.Content(item.CeilingTypeImage)" style="height:400px;width:800px" alt="">
                            }
                        </div>
                    </div>
                </section>
            }
            i = i + 1;
        }
    </div>
    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">Copyright &copy; Your Website 2020</p>
        </div>
    </footer>

</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $('.mdb-select').materialSelect();

    });


</script>

