@model IEnumerable<StrongHouseOwner.Data.EntityModel.Comment>
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>
    <!-- Bootstrap Table CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="~/Types/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/BootstrapStart/css/business-casual.min.css" rel="stylesheet">

</head>

<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">RENOVATION WHILE KEEPING CONSTRUCTION DETAILS</span>
        <div class="row">
            <div class="col-4 col-md-10" style="padding-right: 0px;padding-left: 200px;">
                <span class="site-heading-lower">Strong House Owner</span>
            </div>
            <div class="col-4 col-md-2">
                @if (Session["User_Name"] == null)
                {

                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="color:#fff;font-size:.9rem;"></span>
                        <img class="img-profile rounded-circle" src="~/Images/User/DefaultImage.png" style="width: 50px; height: 50px;">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown" style="font-size:12px;">
                        <a class="dropdown-item" href='@Url.Action("Index","Login")'>
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Login
                        </a>
                        <a class="dropdown-item" href='@Url.Action("Index","Registration")'>
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>Register
                        </a>
                    </div>

                }
                else
                {

                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="color:#fff;font-size:.9rem;">@Session["User_Name"]</span>
                        <img class="img-profile rounded-circle" src="~/Images/User/DefaultImage.png" style="width: 50px; height: 50px;">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown" style="font-size:12px;">
                        <a class="dropdown-item" href='@Url.Action("ListOfFlooringTypes", "Flooring")'>
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            User Panel
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href='@Url.Action("LogOut","Login")'>
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>

                }
            </div>
        </div>
    </h1>


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href='@Url.Action("Home", "Home")'>
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Index", "About")">About</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href='@Url.Action("Products", "Product")'>Products</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href='@Url.Action("Index", "Store")'>Store</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="bg-faded p-5 rounded">
        <section class="page-section">
            <div class="container">
                <div class="row">
                    <div class="col-5" style="padding-bottom: 15px;">
                        <div class="product-item">
                            <img class="product-item-img d-flex rounded" src="https://images.ctfassets.net/o2gysnvd04sg/4Dgyb1pPuMai22Ay40qmEC/86ea997bbb40593911a78f70eb6730aa/business-man-and-construction-site-engineer.jpg" style="max-width: 100%; height: auto;" alt="">
                        </div>
                    </div>

                    <div class="col-7">
                        <h1>
                            Problems related to repair and renovations.
                        </h1>
                        Now a day people are facing big trouble regarding the construction. We thought to give
                        an answer for some questions. In this era people repair and renovate their house same
                        some old manner. It is not meant about modernisation of house designing, it’s about easy
                        off of Repair and renovation. Now we have to look at what are the question that people
                        have.
                        <ul>
                            <li>
                                Every time people went shops to buy some stuff, they are cheated by sellers. For
                                this reason they not get quality, best product with right prices.
                            </li>
                            <li>
                                People do renovation without having better understanding or knowledge about the
                                construction. Considering this matter,
                                <ol>
                                    <li>They face accidents</li>
                                    <li>Cant renovate or repair as expected</li>
                                    <li>Extra work will be remained</li>
                                    <li>Extra money will be spent</li>
                                </ol>
                            </li>
                            <li>
                                People need to know about new designs, items, and materials available in the
                                market because they have to bumming in the town. It is waste of thire valuable time.
                            </li>
                        </ul>
                    </div>

                    <!-- Force next columns to break to new line at md breakpoint and up -->
                    <div class="w-100 d-none d-md-block"></div>

                    <div class="col-12">
                        <p>
                            <h1>
                                So how can i help you?
                            </h1>
                            Strong Home owner is a Web applications' mission is to helps house owner to renovate his
                            construction without facing troubles. This application show information about stuff. As a
                            example think about you are going to renovate floor of the room. You can see available
                            flooring type in the market using this system. There are lot of samples include regarding
                            each flooring type. Such that this application explore wide range of flooring, walling, ceiling types and samples.
                            Those samples are given by sellers of different shops. Each sample
                            consisting with different size, colour, image, design and prices also you can refer available
                            shop.
                        </p>
                        <p>
                            Another thing is it stores current details about your house. Example as you are
                            willing to store floor information of a room including area of floor, used flooring type and
                            sample, sample size, sample image, sample price then it automatically calculate the
                            quantity and total price and saved. Next time it is not difficult to see those information in
                            the shop or whatever the place was. Also it gives good knowledge and understanding from showing
                            you advantage, disadvantage, best use, reusability of each types. Storing of current details available for floorings,
                            wallings, ceilings and planing details.
                        </p>
                    </div>

                    <div class="w-100 d-none d-md-block"></div>

                    <div class="col-12">
                        <p>
                            <h1>
                                About me
                            </h1>
                            I am Pasindu, experienced developer. I am giving you web application related solution for issue that we are facing.
                            This application is developed for my research related to "CHANGE THE FUTURE OF RENOVATION WHILE KEEPING
                            CONSTRUCTION DETAILS". This application covers the informations storing and exploring of construction materials and products.



                        </p>
                    </div>

                    <div class="w-100 d-none d-md-block"></div>

                    <div class="col-12">
                        <p>
                            <h1>
                                Contact me
                            </h1>
                            <ul>
                                <li>
                                    Phone: +9471 033 7486
                                </li>
                                <li>
                                    Email: pasindumadushan7@gmail.com
                                </li>
                            </ul>
                        </p>
                    </div>
                    <div class="product-item-description" style="width:100%;height:400px;overflow: scroll;">
                        <div class="bg-faded p-5 rounded" style="width:100%">
                            <p class="mb-0">Comments</p>
                            <hr />
                            <table>
                                @foreach (var c in Model)
                                {
                                    <tr>
                                        <th style="padding-top:10px;">
                                            @c.UserRegistration.UserName
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            @c.Comment1
                                        </td>
                                    </tr>
                                    if (Session["User_Id"] != null && c.UserRefId == (int)Session["User_Id"])
                                    {
                                        <tr>
                                            <td>
                                                <button class="btn btn-primary" type="button" id="CommentDelete" style="width:100px;" onclick="location.href='@Url.Action("DeleteComment","About", new {commentId = c.CommentId})'">
                                                    <span class="navbar-toggler-icon">Delete</span>
                                                </button>
                                            </td>
                                        </tr>
                                    }

                                    <tr>
                                        <td>
                                            <table style="margin-left:10%;margin-top:10px;">
                                                <tr>
                                                    <th>
                                                        Replay
                                                        <hr />
                                                    </th>
                                                </tr>
                                                @foreach (var r in c.Replies)
                                                {
                                                    <tr>
                                                        <td style="padding-top:5px;">
                                                            <b>@r.UserRegistration.UserName</b>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            @r.Reply1
                                                        </td>
                                                    </tr>
                                                    if (Session["User_Id"] != null && r.UserRefId == (int)Session["User_Id"])
                                                    {
                                                        <tr>
                                                            <td>
                                                                <button class="btn btn-primary" type="button" id="ReplyDelete" style="width:100px;" onclick="location.href='@Url.Action("DeleteReply","About", new {replyId = r.ReplyId })'">
                                                                    <span class="navbar-toggler-icon">Delete</span>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    }

                                                }
                                                <tr>
                                                    <td style="padding-top:10px;">
                                                        <textarea name="Reply" id="@("Reply-"+c.CommentId)" style="width:400px;height:50px;" placeholder="Add a reply"></textarea>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <button class="btn btn-primary" type="button" id="@("replyBtn-"+c.CommentId)" style="width:100px;">
                                                            <span class="navbar-toggler-icon">Reply</span>
                                                        </button>
                                                    </td>
                                                </tr>

                                            </table>
                                        </td>
                                    </tr>

                                }

                                <tr>
                                    <td style="padding-top:50px;">
                                        <textarea name="Comment" id="Comment" style="width:400px;height:50px;" placeholder="Add a Comment"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-primary" type="button" id="commentBtn" style="width:100px;">
                                            <span class="navbar-toggler-icon">Post</span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </section>
    </div>

    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0">Copyright &copy; Your Website 2020</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        $("#commentBtn").click(function () {
            getComment();
        });

        $(".btn").click(function () {
            var id = $(this).attr('id'); 
            if (id.indexOf("reply") >= 0) {
                var commentId = id.split("-")[1];
                getReply(commentId);
            }
            
        });


    });

    function getComment()
    {
        if ($("#Comment").val() == "" || $("#Comment").val() == null || !$("#Comment").val().replace(/\s/g, '').length) {

            alert("Comment is empty!");

        }
        else if("@Session["User_Id"]" == ""){
            alert("Please login!");
        }
        else {
            
            var comment = $("#Comment").val();
            var userId = "@Session["User_Id"]";

            $.ajax({
                type: 'POST',
                data: '{ userId : "' + userId + '", comment : "' + comment + '" }',
                url: '@Url.Action("AddComment","About")',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8', // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
                processData: false, // NEEDED, DON'T OMIT THIS
                //cache: false,
                success: function (data) {

                    if (data.validation == 0) {
                        alert("Thank you for comments!");
                        window.location.href = "/About/Index"

                    }
                    else if (data.validation == 1) {
                        alert("Retry!");

                    }

                },
                error: function (response) {

                    alert("error!");  //

                }
            });

        }
    }
    function getReply(commentId)
    {
        if ($("#Reply-" + commentId).val() == "" || $("#Reply-" + commentId).val() == null || !$("#Reply-" + commentId).val().replace(/\s/g, '').length) {

            alert("Reply is empty!");

        }
        else if("@Session["User_Id"]" == ""){
            alert("Please login!");
        }
        else {
            
            var commentId = commentId;
            var reply = $("#Reply-" + commentId).val();
            var userId = "@Session["User_Id"]";

            $.ajax({
                type: 'POST',
                data: '{ userId : "' + userId + '", commentId : "' + commentId + '", reply : "' + reply + '"}',
                url: '@Url.Action("AddReply","About")',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8', // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
                processData: false, // NEEDED, DON'T OMIT THIS
                //cache: false,
                success: function (data) {

                    if (data.validation == 0) {
                        alert("Thank you for Reply!");
                        window.location.href = "/About/Index"

                    }
                    else if (data.validation == 1) {
                        alert("Retry!");

                    }

                },
                error: function (response) {

                    alert("error!");  //

                }
            });

        }
    }

</script>
