
@{
    ViewBag.Title = "UpdatePassword";
}

<!DOCTYPE html>
<html>
<head>
    <title>Update Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/CssStyles/Registration.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- Jquery validation links -->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.3.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
    <!-- //web font -->
</head>
<body>
    <!-- main -->
    <div class="main-w3layouts wrapper">
        <h1>Strong House Owner Update Password</h1>
        <div class="main-agileinfo">
            <div class="agileits-top">
                <form id="UpdatePasswordForm" novalidate>

                    <div class="wthree-text">
                        <label class="anim">
                            <span>User : @ViewBag.ViewBagUserMail</span>
                        </label>
                        <div class="clear"> </div>
                    </div>

                    <input class="text" type="text" name="Recovery_Code" id="Recovery_Code" placeholder="Recovery Code" required>
                    <input class="text" type="password" name="User_Password" id="User_Password" placeholder="Password" required>
                    <input class="text w3lpass" type="password" name="User_Confirm_Password" id="User_Confirm_Password" placeholder="Confirm Password" required>
                    <input id="Update" type="submit" value="Update Password" />
                </form>

                <p>Don't have an Account? <a href="@Url.Action("Index", "Registration")"> SignUp Now!</a></p>
            </div>
        </div>
        <!-- copyright -->
        <div class="colorlibcopy-agile">
            <p>All copyrights are reserved</p>
        </div>
        <!-- //copyright -->
        <ul class="colorlib-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <!-- //main -->
</body>
</html>

<script type="text/javascript">

    $(document).ready(function ()
    {

        $(function () {

            jQuery.validator.addMethod("noSpace", function (value, element)
            {
                return value.indexOf(" ") < 0 && value != "";
            }, "No space please and don't leave it empty");

            jQuery.validator.addMethod("exactlength", function (value, element, param)
            {
                return this.optional(element) || value.length == param;
            }, $.validator.format("Please enter exactly {0} characters."));

            $("#UpdatePasswordForm").validate({
                //errorLabelContainer: "#PasswordError",
                wrapper: "div",
                rules: {

                    Recovery_Code: {
                        required: true,
                        equalTo: "@ViewBag.ViewBagRecoveryCode"
                    },
                    User_Password: {
                        required: true,
                        minlength: 6,
                        maxlength: 20
                    },
                    User_Confirm_Password: {
                        required: true,
                        equalTo: "#User_Password"
                    }
                },

                messages: {
                    Recovery_Code: {
                        required: "Please provide a Recovery Code",
                        equalTo: "Wrong Recovery Code"
                    },
                    User_Password: {
                        required: "Please provide a password",
                        minlength: "Please provide Password between 6 to 20 characters",
                        maxlength: "Please provide Password between 6 to 20 characters"
                    },
                    User_Confirm_Password: {
                        required: "Please provide a password",
                        equalTo: "Password not match"
                    }
                },

                submitHandler: function (form) {
                    getData();
                }

            });
        });

    });

    function getData()
    {
        
        alert("here");
        alert($("#User_Password").val());

        var UpdatePasswordForm = new FormData();

        UpdatePasswordForm.append("User_Mail", "@ViewBag.ViewBagUserMail");
        UpdatePasswordForm.append("User_Password", $("#User_Password").val());
        

        $.ajax({
                    type: 'POST',
                    data: UpdatePasswordForm,
                    url:'@Url.Action("SavePassword","ValidateUser")',
                    dataType: 'json',
                    contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
                    processData: false, // NEEDED, DON'T OMIT THIS
                    //cache: false,
                    success: function (data)
                    {

                        if(data.validation == 0)
                        {
                            alert("Password updated fail!");
                        }
                        else
                        {
                            alert("Password updated sucessfully!");
                            window.location.href = "/Login/Index"
                        }


                    },
                    error: function (response)
                    {

                        alert("error!");  //

                    }
               });

    }
</script>
