
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>Creative Colorlib SignUp Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/BootstrapStart/css/business-casual.min.css" rel="stylesheet">
    <link href="~/BootstrapStart/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Theme files -->
    <link href="~/CssStyles/Registration.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
     <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <!-- Jquery validation links -->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.3.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
    <!-- //web font -->
</head>
<body>
    <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">RENOVATION WHILE KEEPING CONSTRUCTION DETAILS</span>
        <div class="row">
            <div class="col-4 col-md-10" style="padding-right: 0px;padding-left: 200px;">
                <span class="site-heading-lower">Strong House Owner</span>
            </div>
            <div class="col-4 col-md-2">
                @if (Session["User_Name"] == null)
                {

                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="color:#fff;font-size:.9rem;"></span>
                        <img class="img-profile rounded-circle" src="~/Images/User/DefaultImage.png" style="width: 50px; height: 50px;">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown" style="font-size:12px;">
                        <a class="dropdown-item" href='@Url.Action("Index","Login")'>
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Login
                        </a>
                        <a class="dropdown-item" href='@Url.Action("Index","Registration")'>
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>Register
                        </a>
                    </div>

                }
                else
                {

                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="color:#fff;font-size:.9rem;">@Session["User_Name"]</span>
                        <img class="img-profile rounded-circle" src="~/Images/User/DefaultImage.png" style="width: 50px; height: 50px;">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown" style="font-size:12px;">
                        <a class="dropdown-item" href='@Url.Action("ListOfFlooringTypes", "Flooring")'>
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            User Panel
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href='@Url.Action("LogOut","Login")'>
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>

                }
            </div>
        </div>
    </h1>

    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="@Url.Action("Home", "Home")">Home</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href='@Url.Action("Index", "About")'>About</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href='@Url.Action("Products", "Product")'>Products</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href='@Url.Action("Index", "Store")'>Store</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="page-content-wrapper">
        <nav class="navbar expand navbar-light bg-light border-bottom">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <h1 style="color:#000;">Strong House Owner Register</h1>
            </div>
        </nav>
    </div>

    <!-- main -->
    <div class="main-w3layouts wrapper">
        <div class="main-agileinfo">
            <div class="agileits-top">
                <form id="Registration" novalidate>
                    <input class="text" type="text" name="User_Name" id="User_Name" placeholder="Username" required>
                    <input class="text email" type="text" name="User_Mail" id="User_Mail" placeholder="Email" required>
                    <input class="text" type="text" name="User_Age" id="User_Age" placeholder="Age" required>
                    <input class="text" type="password" name="User_Password" id="User_Password" placeholder="Password" required>
                    <input class="text w3lpass" type="password" name="User_Confirm_Password" id="User_Confirm_Password" placeholder="Confirm Password" required>
                    <input class="text" type="text" name="User_Address" id="User_Address" placeholder="Home Address" required>
                    <input class="text" type="text" name="User_Phone_Number" id="User_Phone_Number" placeholder="Phone Number" required>
                    <input class="text" type="hidden" name="User_Type" id="User_Type" placeholder="As a ShopOwner or HouseOwner" value="2" required>

                    <div class="container" style="padding-top: 2em;">
                        <div class="row">
                            <div class="col-sm-offset-1" style="color: #ffffff;"><input type="checkbox" name="Agree" id="Agree" class="checkbox">I Agree To The Terms & Conditions</div>
                        </div>
                    </div>

                    <div class="clear"> </div>

                    <input type="submit" id="UserRegister" value="Register">
                </form>

                <p>Don't have an Account? <a href="@Url.Action("Index", "Login")"> Login Now!</a></p>
                <p>Do you forgot password? <a href="@Url.Action("Index", "ValidateUser")"> Reset Now!</a></p>
            </div>
        </div>

        <!-- //copyright -->
        <ul class="colorlib-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <footer class="footer text-faded text-center" style="padding-top: 30px;padding-bottom: 30px;">
        <div class="container">
            <p class="m-0 small" style="font-size: 80%; font-weight: 400;">Copyright &copy; Your Website 2020</p>
        </div>
    </footer>
    <!-- //main -->
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function ()
    {

        $(function () {

            jQuery.validator.addMethod("noSpace", function (value, element)
            {
                return value.indexOf(" ") < 0 && value != "";
            }, "No space please and don't leave it empty");

            jQuery.validator.addMethod("exactlength", function (value, element, param)
            {
                return this.optional(element) || value.length == param;
            }, $.validator.format("Please enter exactly {0} characters."));

            $("#Registration").validate({
                //errorLabelContainer: "#PasswordError",
                wrapper: "div",
                rules: {
                    User_Name: {
                        required: true,
                        noSpace: true
                    },
                    User_Mail: {
                        required: true,
                        email: true
                    },
                    User_Age: {
                        required: true,
                        digits: true,
                        range:[14,100]
                    },
                    User_Password: {
                        required: true,
                        minlength: 6,
                        maxlength: 20
                    },
                    User_Confirm_Password: {
                        required: true,
                        equalTo: "#User_Password"

                    },
                    User_Address: {
                        required: true,
                    },
                    User_Phone_Number: {
                        required: true,
                        digits: true,
                        exactlength: 10
                    },
                    User_Type: {
                        required: true,
                        digits: true,
                        range:[1,2]
                    },
                    Agree: {
                        required: true
                    }
                },

                messages: {
                    User_Name: {
                        required: "Please provide a User name",
                        noSpace: "Please don't leave a space"
                    },
                    User_Mail: {
                        required: "Please provide a Email",
                        email: "Please provide valid email"
                    },
                    User_Age: {
                        required: "Please provide a Age",
                        digits: "Please provide valid Age",
                        range: "Please provide valid Age"
                    },
                    User_Password: {
                        required: "Please provide a password",
                        minlength: "Please provide Password between 6 to 20 characters",
                        maxlength: "Please provide Password between 6 to 20 characters"
                    },
                    User_Confirm_Password: {
                        required: "Please provide a password",
                        equalTo: "Password not match"
                    },
                    User_Address: "Please provide a Address",
                    User_Phone_Number: {
                        required: "Please provide a Phone Number",
                        digits: "Please provide valid Phone Number",
                        exactlength: "Please provide valid Phone Number"
                    },
                    User_Type: {
                        required: "Please provide a Type",
                        digits: "Please provide valid Type",
                        range: "Please provide valid Type"
                    },
                    Agree: {
                        required: "Please agree to terms and condition"
                    }
                },

                submitHandler: function (form) {
                    getData();
                }

            });
        });

    });

    function getData()
    {

        var UserRegister = new FormData();

        UserRegister.append("User_Name", $("#User_Name").val());
        UserRegister.append("User_Mail", $("#User_Mail").val());
        UserRegister.append("User_Age", $("#User_Age").val());
        UserRegister.append("User_Password", $("#User_Password").val());
        UserRegister.append("User_Address", $("#User_Address").val());
        UserRegister.append("User_Phone_Number", $("#User_Phone_Number").val());
        UserRegister.append("User_Type", $("#User_Type").val());

        $.ajax({
                    type: 'POST',
                    data: UserRegister,
                    url:'@Url.Action("Registration","Registration")',
                    dataType: 'json',
                    contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
                    processData: false, // NEEDED, DON'T OMIT THIS
                    //cache: false,
                    success: function (data)
                    {

                        if (data.validation == 0)
                        {
                            alert("Registration Sucessful!");
                            window.location.href = "/Login/Index"

                        }
                        else if (data.validation == 1)
                        {
                            alert("Creation Fail, Email already Registered!");

                        }

                    },
                    error: function (response)
                    {

                        alert("error!");  //

                    }
               });

    }

</script>