@model IEnumerable<StrongHouseOwner.Data.EntityModel.StoredWalling>
@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="~/BootstrapStart/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/BootstrapStart/css/business-casual.min.css" rel="stylesheet" />
    <link href="~/BootstrapStart/css/simple-sidebar.css" rel="stylesheet" />

    <link href="~/maxcdn/css/bootstrap.min.css" rel="stylesheet" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">RENOVATION WHILE KEEPING CONSTRUCTION DETAILS</span>
        <div class="row">
            <div class="col-4 col-md-10" style="padding-right: 0px;padding-left: 200px;">
                <span class="site-heading-lower">Strong House Owner</span>
            </div>
            <div class="col-4 col-md-2">
                @if (Session["User_Name"] == null)
                {

                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="color:#fff;font-size:.9rem;"></span>
                        <img class="img-profile rounded-circle" src="~/Images/User/DefaultImage.png" style="width: 50px; height: 50px;">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown" style="font-size:12px;">
                        <a class="dropdown-item" href='@Url.Action("Index","Login")'>
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Login
                        </a>
                        <a class="dropdown-item" href='@Url.Action("Index","Registration")'>
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>Register
                        </a>
                        @*<div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>*@
                    </div>

                }
                else
                {

                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small" style="color:#fff;font-size:.9rem;">@Session["User_Name"]</span>
                        <img class="img-profile rounded-circle" src="~/Images/User/DefaultImage.png" style="width: 50px; height: 50px;">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown" style="font-size:12px;">
                        <a class="dropdown-item" href='@Url.Action("ListOfWallingTypes", "Walling")'>
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Admin Panel
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href='@Url.Action("LogOut","Login")'>
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>

                }
            </div>
        </div>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" style="margin-left:366px;margin-right:366px" id="navbarResponsive">
                <ul class="navbar-nav mx-auto justify-content-center">
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href='@Url.Action("Home", "Home")'>
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="about.html">About</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href='@Url.Action("Products", "Product")'>Products</a>
                    </li>
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href='@Url.Action("Index", "Store")'>Store</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light" id="sidebar-wrapper">
            <div class="sidebar-heading">Menu</div>
            <div class="list-group list-group-flush">
                <a href='@Url.Action("Index", "HousePlanStore", new { houseId = @ViewBag.ViewBagHouseRefId})' class="list-group-item list-group-item-action bg-light">Plans</a>
                <a href='@Url.Action("Index", "HouseFlooringStore", new { houseId = @ViewBag.ViewBagHouseRefId})' class="list-group-item list-group-item-action bg-light">Flooring Details</a>
                <a href='@Url.Action("Index", "HouseWallingStore", new { houseId = @ViewBag.ViewBagHouseRefId})' class="list-group-item list-group-item-action bg-light" style="z-index:2;color:#007bff;background-color:#555;border-color:#ddd">Walling Details</a>
                <a href='@Url.Action("Index", "HouseCeilingStore", new { houseId = @ViewBag.ViewBagHouseRefId})' class="list-group-item list-group-item-action bg-light">Ceiling Details</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">
                    <span class="glyphicon glyphicon-menu-hamburger">
                    </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <button class="btn btn-primary" onclick="location.href='@Url.Action("Create","HouseWallingStore", new { houseId = @ViewBag.ViewBagHouseRefId})'">
                                <i class="fas fa-cart-plus ml-2" aria-hidden="true">Store a Walling</i>
                            </button>
                        </li>
                        @*<li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>*@
                    </ul>
                </div>
                <div class="navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <button class="btn btn-primary" onclick="location.href='@Url.Action("UserPanel","Store")'">
                                <i class="fas fa-cart-plus ml-2" aria-hidden="true">Back</i>
                            </button>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="bg-faded p-4 rounded">
                <div class="container" style="margin-right:0px;margin-left:0;padding-right:0px;padding-left:0px;width:100%;">


                    @{int i = 0;}
                    @foreach (var item in Model)
                    {
                        <div class="row" style="padding-left:2%;padding-right:2%;">
                            <div class="col-12 col-md-9" style="padding-left: 0px;">
                                <div class="media">
                                    @if (item.SampleImagePath == null || item.SampleImagePath == "")
                                    {
                                        <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;" data-toggle="modal" data-target="#@("modalQuickViewImg"+i)"> </a>
                                    }
                                    else
                                    {
                                        <a class="thumbnail pull-left" href="#"> <img class="media-object" src="@Url.Content(@item.SampleImagePath)" style="width: 72px; height: 72px;" data-toggle="modal" data-target="#@("modalQuickViewImg"+i)"> </a>
                                    }

                                    <div class="media-body col-sm-1 col-md-6">
                                        <h4 class="media-heading">@item.WallingName</h4>
                                        <h5 class="media-heading">@item.WallingCategory</h5>
                                        <span></span><span class="text-success"><strong></strong></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-1 col-md-0.5 text-center">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@("modalQuickViewImg"+i)">
                                    <span class="glyphicon glyphicon-picture"></span>
                                </button>
                            </div>
                            <div class="col-1 col-md-0.5 text-center">
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#@("modalQuickViewDel"+i)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </div>


                        <div class="modal fade" id="@("modalQuickViewDel"+i)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                             aria-hidden="true" data-backdrop="false">
                            <div class="modal-dialog modal-confirm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="row" style="width:100%;">
                                            <div class="col-1 text-center">
                                                <div class="icon-box">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </div>
                                            </div>
                                            <div class="col-10">
                                                <h4 class="modal-title">Are you sure?</h4>
                                            </div>
                                            <div class="col-1 text-center">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <p>Do you really want to delete these records? This process cannot be undone.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete","HouseWallingStore", new { wallingId = item.WallingId})'">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="@("modalQuickViewImg"+i)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                             aria-hidden="true" data-backdrop="false">
                            <div class="modal-dialog modal-confirm">
                                <div class="modal-content" style="width:100%;height:100%">
                                    <div class="modal-header">
                                        <div class="row" style="width:100%;">
                                            @if (item.SampleImagePath == null || item.SampleImagePath == "")
                                            {
                                                <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                                            }
                                            else
                                            {
                                                <a class="thumbnail pull-left" href="#"> <img class="media-object" src="@Url.Content(@item.SampleImagePath)" style="max-width:100%;height:auto"> </a>
                                            }

                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-left:2%;padding-right:2%;padding-bottom: 2%;width:100%;">
                            <div class="card" style="width:100%;">

                                <!-- Card header -->
                                <div class="card-header" role="tab" id="headingOne1">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#@("accordionEx"+i)" href="#@("collapseOne1"+i)"
                                       aria-expanded="false" aria-controls="collapseOne1">
                                        <h5 class="mb-0">
                                            More<i class="fas fa-angle-down rotate-icon"></i>
                                        </h5>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="@("collapseOne1"+i)" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
                                     data-parent="#@("accordionEx"+i)">
                                    <div class="card-body">
                                        <table>
                                            <thead></thead>
                                            <thead></thead>
                                            <tbody>
                                                <tr>

                                                    <td>Type : </td>
                                                    <td>@item.WallingType</td>
                                                </tr>
                                                <tr>
                                                    <td>Partition : </td>
                                                    <td>@item.TypeOfPartition</td>
                                                </tr>
                                                <tr>
                                                    <td>Walling Area : </td>
                                                    <td> @item.WallingArea</td>
                                                </tr>
                                                <tr>

                                                    <td>Sample Name : </td>
                                                    <td>@item.WallingSampleName</td>
                                                </tr>
                                                <tr>
                                                    <td>Sample Code : </td>
                                                    <td>@item.WallingSampleCode</td>
                                                </tr>
                                                <tr>
                                                    <td>Brand : </td>
                                                    <td> @item.WallingSampleBrand</td>
                                                </tr>
                                                <tr>

                                                    <td>Tile Height : </td>
                                                    <td>@item.WallingSampleHight</td>
                                                </tr>
                                                <tr>
                                                    <td>Tile Width : </td>
                                                    <td>@item.WallingSampleWidth</td>
                                                </tr>
                                                <tr>
                                                    <td>Mililiters : </td>
                                                    <td>@item.WallingMililiters</td>
                                                </tr>
                                                <tr>
                                                    <td>Sample Price : </td>
                                                    <td>@item.WallingSamplePrice</td>
                                                </tr>
                                                <tr>
                                                    <td>Amount : </td>
                                                    <td> @item.WallingSampleMinAmount</td>
                                                </tr>
                                                <tr>
                                                    <td>Total Cost : </td>
                                                    <td> @item.WallingSampleTotalCost</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                        i = i + 1;
                    }


                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>




    <!-- Modal: modalQuickView -->



    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">Copyright &copy; Your Website 2019</p>
        </div>
    </footer>

</body>


</html>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $('.mdb-select').materialSelect();

    });


</script>
